.product-categories .card {
    background-color: #F6F9FC;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    border: none;
}

.product-categories .card img {
    max-width: 220px;
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;
}

.product-categories .card h4 {
    font-weight: 600 !important;
    font-size: 22px;
}

.full-width-img-bg {
    padding: 11rem 2.5rem 3rem !important;
    background-size: cover;
}

.related-tools-sec .row.gap-4 .col-sm-6 {
    width: calc(50% - 0.75rem);
}


@media (min-width: 992px) and (max-width: 1199px) {
    .product-category-cards {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}