.quality-cards {
    grid-template-columns: repeat(2, 1fr);
}

.quality-card p,
.quality-env-certs-grid p {
    color: #494E54;
    font-size: 18px;
    line-height: 1.75;
}

.warranty p {
    color: #3F3E4B;
    font-size: 18px;
}

.warranty .position-absolute {
    right: 0;
}

.warranty .position-absolute img {
    height: 500px;
    object-fit: contain;
    object-position: right;
}

.warranty .col-lg-6 {
    min-height: 500px;
    align-content: center;
}

.quality-env-certs-grid {
    grid-template-columns: repeat(3, 1fr);
}